<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.EmployeeDAO">

	<insert id="insert" parameterType="Employee">
		insert into employee values(#{id},#{name},#{salary},#{age},#{birthday},#{sex})
	</insert>

	<select id="queryAllEmployees" resultType="Employee">
		select id,name,salary,age,birthday,sex from employee
	</select>
	
	<delete id="delete" parameterType="int">
		delete from employee where id=#{id}
	</delete>
	
	<select id="queryOneById" parameterType="int" resultType="Employee">
		select id,name,salary,age,birthday,sex from employee where id=#{id}
	</select>
	
	<update id="update" parameterType="Employee">
		update employee set name=#{name},salary=#{salary},age=#{age},birthday=#{birthday},sex=#{sex} where id=#{id}
	</update>

</mapper>
